.sources {
    display: flex;
    flex-wrap: wrap;
    width:25%;
    overflow: auto;
    justify-content: space-between;
    font: 300 1em 'Fira Sans', sans-serif;
    margin: 15px 25px 15px 15px;
    flex-direction: column;
}

.source__item {
    background: none;
    border: 2px solid #1d1d1e;
    border-radius: 15px;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #1d1d1e;
    transition: 0.25s;
    cursor: pointer;
   }

.source__item:hover,
.source__item:focus {
    border-color: #d9d4d4;
    color: #2e3d41;
    box-shadow: 0 0.5em 0.5em -0.4em #bcc0bd;
    transform: translateY(-0.25em);

}

.source__item-name {
    font-weight: 400;
}
@media (max-width: 768px) {
    .sources {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
    .source__item {
        text-align: center;
    }
}
